#store-page {
	.product {
		border-color: transparentize(white, 0.9);

		.title {
			margin: 0;
		}

		p {
			margin: 0;
			font-weight: bold;
		}

		margin-bottom: $padding-large-vertical;
	}

	#store {
		display: none;
	}
}