#menu {
	position: fixed;
	width: 100%;
	background: $dark;
	margin-top: $bar-height - 1;
	z-index: $z-index-bar+1;
	box-shadow: 0 3px 2px $dark;
	top: -100%;

	ul {
		li {
			border-bottom: 1px solid rgba(255,255,255,0.03);

			&:last-child {
				border-bottom: 0;
			}
		}
	}
}