include ./button_submit_outline.jade

.scroll-content
	.page-content
		form.row
			.col
				.padding
					.list
						label.item.item-input
							input#email(type='email', placeholder="Correo electronico")
					
					+submitButton('Enviar')

					br
					.text-center
						| Introduzca la direccion de correo electronico que ha usado para
						| crear su cuenta con Zoe Water Movil, al finalizar le enviaremos
						| un mensaje re recuperacion de contraseña.