.bar.bar-header.bar-dark
	button.button.icon.button-clear.ion-ios7-arrow-down#leftButton
	.h1.title Blog
	button.button.icon.button-clear.ion-ios7-refresh-empty#rightButton

include ./menu.jade

.scroll-content.has-header
	.page-content#entries