.item.item-image
	img(src='http://localhost/images/blog_placeholder.jpg')
.item.item-body
	h2.positive Frutas y Verduras
	p.calm Integer ornare libero nisi. Duis ac magna urna. Nulla facilisi. Phasellus at ante magna. Quisque nec porta nulla. Suspendisse nec orci vel elit.