.bar.bar-header.bar-dark
	button.button.icon.button-clear.ion-ios7-arrow-left.back-button#leftButton
	.h1.title Foto

.content.has-header
	.padding
		img.full-image.rounded(src='http://localhost/images/gallery_placeholder_large.jpg')

		.text-center
			#like
				i.icon.ion-ios7-heart-outline
			.h4 1984