.bar.bar-header.bar-dark
	button.button.icon.button-clear.ion-ios7-arrow-down#leftButton
	.h1.title Galeria

include ./menu.jade

.scroll-content.has-header
	.page-content
		.padding#pics
			.row
				.col
					a(href='#')
						img.rounded.full-image(src='http://localhost/images/gallery_placeholder.jpg')
				.col
					a(href='#')
						img.rounded.full-image(src='http://localhost/images/gallery_placeholder.jpg')
				.col
					a(href='#')
						img.rounded.full-image(src='http://localhost/images/gallery_placeholder.jpg')

			.row
				.col
					a(href='#')
						img.rounded.full-image(src='http://localhost/images/gallery_placeholder.jpg')
				.col
					a(href='#')
						img.rounded.full-image(src='http://localhost/images/gallery_placeholder.jpg')
				.col
					a(href='#')
						img.rounded.full-image(src='http://localhost/images/gallery_placeholder.jpg')

			.row
				.col
					a(href='#')
						img.rounded.full-image(src='http://localhost/images/gallery_placeholder.jpg')
				.col
					a(href='#')
						img.rounded.full-image(src='http://localhost/images/gallery_placeholder.jpg')
				.col
					a(href='#')
						img.rounded.full-image(src='http://localhost/images/gallery_placeholder.jpg')

			.row
				.col
					a(href='#')
						img.rounded.full-image(src='http://localhost/images/gallery_placeholder.jpg')
				.col
					a(href='#')
						img.rounded.full-image(src='http://localhost/images/gallery_placeholder.jpg')
				.col
					a(href='#')
						img.rounded.full-image(src='http://localhost/images/gallery_placeholder.jpg')

			.row
				.col
					a(href='#')
						img.rounded.full-image(src='http://localhost/images/gallery_placeholder.jpg')
				.col
					a(href='#')
						img.rounded.full-image(src='http://localhost/images/gallery_placeholder.jpg')
				.col
					a(href='#')
						img.rounded.full-image(src='http://localhost/images/gallery_placeholder.jpg')

			.row
				.col
					a(href='#')
						img.rounded.full-image(src='http://localhost/images/gallery_placeholder.jpg')
				.col
					a(href='#')
						img.rounded.full-image(src='http://localhost/images/gallery_placeholder.jpg')
				.col
					a(href='#')
						img.rounded.full-image(src='http://localhost/images/gallery_placeholder.jpg')

.tabs.tabs-dark.tabs-icon-top
	a.tab-item
		i.icon.ion-ios7-camera-outline
		| Tomar Foto

	a.tab-item
		i.icon.ion-ios7-photos-outline
		| Subir Foto