.modal-backdrop.active
.modal
	.h2.text-center Fotografia
	
	.text-center.padding-large
		#image

	.padding.row
		.col
			button.button.button-energized.button-block#save Guardar
		.col
			button.button.button-dark.button-block.close Cancelar