.bar.bar-header.bar-dark
	button.button.icon.button-clear.ion-ios7-arrow-left.back-button#leftButton
	.h1.title Foto

.content.has-header
	.padding
		#image-wrapper
			#image

		.text-center
			#like
				i.icon.ion-ios7-heart-outline
			.h4#likes