.modal-backdrop.active
.modal
	br
	.h2.text-center Fotografia
	
	.text-center.padding-large
		#image

	.padding.row
		.col
			button.button.button-energized.button-block#save Compartir
		.col
			button.button.button-dark.button-block(data-dismiss) Cancelar