.bar.bar-header.bar-dark
	button.button.icon.button-clear.ion-ios7-arrow-down#leftButton
	.h1.title
		button.button-clear.button#headerBrand(type='button')
			img(src='http://localhost/images/zoe.png')
	button.button.icon.button-clear.ion-ios7-gear-outline.back-button#rightButton

include ./menu.jade

.scroll-content.has-header
	.page-content
		.padding-top#homeGreeting
			.h4.text-center ¡Hola #{data.username}!
			.h4.text-center Tu meta del dia son #{data.goal}

		.text-center
			button.button.button-clear#stats

		.text-center#goalArea
			canvas#progress(width=220, height=220)
			#track(type='button')

		.text-center.h3#percentage 35%

		.text-center
			button.button.button-energized#share Compartir