.bar.bar-header.bar-dark
	button.button.icon.button-clear.ion-ios7-arrow-down.back-button.toggle-menu
	.h1.title
		button.button-cleat.button#headerBrand.toggle-menu(type='button')
			img(src='http://localhost/images/zoe.png')
	button.button.icon.button-clear.ion-ios7-gear-outline.back-button#settingsButton

#menu
	ul.text-center
		li
			button.button-clear.button(type='button') Consumo Diario
		li
			button.button-clear.button(type='button') ?Que es Zoe Water?
		li
			button.button-clear.button(type='button') Comparte tu Foto
		li
			button.button-clear.button(type='button') Blog Alcalino
		li
			button.button-clear.button(type='button') Zoe Water Premier
		li
			button.button-clear.button(type='button') Puntos de Venta
		li
			button.button-clear.button(type='button') Tienda en Linea

.content.has-header
	.padding-top
		.h4.text-center Hola Jorge!
		.h4.text-center Tu meta del dia son 2 litros

	.text-center
		button.button.button-dark.rounded
			i.icon.ion-ios7-pulse-strong