- console.log(arguments)

.modal-backdrop.active
.modal
	.text-center.padding-large
		button.button.button-dark Borrar Ultimo Consumo

		.padding-large.row#bottles
			.col.col-bottom
				img.full-image(src='http://localhost/images/check_250.png')
			.col.col-bottom
				img.full-image(src='http://localhost/images/check_500.png')
			.col
				img.full-image(src='http://localhost/images/check_900.png')


		button.button.button-dark.close Cancelar