.scroll-content
	.page-content
		.padding
			.row
				.col
					.padding-large
						img(src='/images/logo.png').full-image

			.padding-large
				button.button.button-block.button-positive#facebookSignup(type='button') Registro con Facebook
				button.button.button-block.button-stable#mailSignup(type='button') Registro con Mail
				button.button.button-block.button-stable#signin(type='button') Ya tengo cuenta