.scroll-content
	.page-content
		form.row
			.col
				.padding
					.list
						label.item.item-input
							input#username(type='text', placeholder="Usuario", autocomplete="off", autocapitalize="off")
							
					.list
						label.item.item-input
							input#password(type='password', placeholder="Contraseña")

					.text-center
						button(type='submit').button.button-outline.button-light Siguiente
					br
					.text-center
						a#forgot ¿Olvidaste tu usuario o contraseña?