.bar.bar-header.bar-dark
	button.button.icon.button-clear.ion-chevron-left.back-button
	.h1.title Ingresa a tu cuenta

.content.has-header
	form.row
		.col
			.padding
				.list
					label.item.item-input
						input(type='text', placeholder="Usuario")
						
				.list
					label.item.item-input
						input(type='password', placeholder="Contraseña")

				.text-center
					button(type='submit').button.button-outline.button-light Siguiente
				.text-center
					a#forgot ¿Olvidaste tu usuario o contraseña?