//-
	.bar.bar-header.bar-dark
		button.button.icon.button-clear.ion-ios7-arrow-down#leftButton
		.h1.title Puntos de Venta
		button.button.icon.button-clear.ion-ios7-location-outline.back-button#rightButton

include ./menu.jade

.scroll-content
	.page-content#map