.bar.bar-header.bar-dark
	button.button.icon.button-clear.ion-ios7-arrow-left.back-button#leftButton
	.h1.title Cambiar Correo

.scroll-content.has-header
	.page-content
		form.row
			.col
				.padding
					.list
						label.item.item-input
							input#email(type='email', placeholder="Correo electronico")
					
					include ./button_submit_outline.jade