.scroll-content
	.page-content
		br
		.list.clean#options
			a.item.item-icon-right.item-dark#updateName(data-view='Settings/name', child)
				| Cambiar Nombre
				i.ion-ios7-arrow-right.icon

			a.item.item-icon-right.item-dark#updateEmail(data-view='Settings/email', child)
				| Cambiar Correo
				i.ion-ios7-arrow-right.icon

			a.item.item-icon-right.item-dark#updatePassword(data-view='Settings/password', child)
				| Cambiar Contraseña
				i.ion-ios7-arrow-right.icon

			a.item.item-icon-right.item-dark#updateWeight(data-view='Settings/weight', child)
				| Cambiar Peso
				i.ion-ios7-arrow-right.icon

			a.item.item-icon-right.item-assertive#signout Cerrar Sesión

		.text-center
			img#settingsBottle(src='http://localhost/images/bottle.png')

		.text-center
			button.button.button-clear#tos(data-view='TOS/index', child, modal)
				strong Ver terminos de uso


		p.text-center Welcome to the Source/Code