.scroll-content
	.page-content
		br
		.list.list-inset
			a.item.item-icon-right.item-dark#updateName(data-view='name')
				| Cambiar Nombre
				i.ion-ios7-arrow-right.icon

			a.item.item-icon-right.item-dark#updateEmail(data-view='email')
				| Cambiar Correo
				i.ion-ios7-arrow-right.icon

			a.item.item-icon-right.item-dark#updatePassword(data-view='password')
				| Cambiar Contraseña
				i.ion-ios7-arrow-right.icon

			a.item.item-icon-right.item-dark#updateWeight(data-view='weight')
				| Cambiar Peso
				i.ion-ios7-arrow-right.icon

			a.item.item-icon-right.item-assertive#signout Cerrar Sesión

		.text-center
			img#settingsBottle(src='http://localhost/images/bottle.png')

		.text-center
			button.button.button-clear#tos(data-view='tos') Ver terminos de uso


		p.text-center Welcome to the Source/Code