.bar.bar-header.bar-dark
	button.button.icon.button-clear.ion-ios7-arrow-left.back-button#leftButton
	.h1.title Cambiar Nombre

.scroll-content.has-header
	.page-content
		form.row
			.col
				.padding
					.list
						label.item.item-input
							input#username(type='text', placeholder="Nombre de usuario", autocomplete="off", autocapitalize="off")
					
					include ./button_submit_outline.jade