- console.log('weight', arguments)
.bar.bar-header.bar-dark
	button.button.icon.button-clear.ion-ios7-arrow-left.back-button#leftButton
	.h1.title Cambiar Peso

.scroll-content.has-header
	.page-content
		p.padding.text-center
			| Para generar tu consumo ideal,
			br
			| necesitamos conocer tu peso en kilos.

		form.row
			.col
				.padding
					.list
						label.item.item-input
							input#weight.text-center(type='tel', placeholder="00.00", autocomplete="off", autocapitalize="off")
					
					include ./button_submit_outline.jade