.bar.bar-header.bar-dark
	button.button.icon.button-clear.ion-chevron-left.back-button
	.h1.title Configuracion

.content.has-header
	br
	.list
		a.item.item-icon-right.item-dark#updateName
			| Cambiar Nombre
			i.ion-ios7-arrow-right.icon

		a.item.item-icon-right.item-dark#updateEmail
			| Cambiar Correo
			i.ion-ios7-arrow-right.icon

		a.item.item-icon-right.item-dark#updatePassword
			| Cambiar Contrasena
			i.ion-ios7-arrow-right.icon

		a.item.item-icon-right.item-dark#updateWeight
			| Cambiar Peso
			i.ion-ios7-arrow-right.icon

	br

	.text-center
		button.button.button-assertive#signout Cerrar Sesion

	img
	.text-center
		button.button.button-clear#tos Ver terminos de uso


	p.text-center Welcome to the Source/Code