.scroll-content
	.page-content
		form.row
			.col
				.padding
					.list
						label.item.item-input
							input#password(type='password', placeholder='Contraseña')

					.list
						label.item.item-input
							input#passwordConfirmation(type='password', placeholder='Contraseña')

					.text-center
						button(type='submit').button.button-outline.button-light Siguiente
						
					br
					.text-center
						| Al crear tu cuenta confirmas que has leido y 
						a#tos(data-view='TOS/index', child, modal)
							strong Aceptas los terminos de uso