.bar.bar-header.bar-dark
	button.button.icon.button-clear.ion-chevron-left.back-button
	.h1.title 1. Crear tu cuenta

.content.has-header
	form.row
		.col
			.padding
				.list
					label.item.item-input
						input(type='text', placeholder="Nombre de usuario")
						
				.list
					label.item.item-input
						input(type='email', placeholder="Correo electronico")

				.text-center
					button(type='submit').button.button-outline.button-light Siguiente
				.text-center
					| Al crear tu cuenta confirmas que has leido y 
					a#tos Aceptas los terminos de uso