.scroll-content
	.page-content
		.padding
			.h2.dark El
			.h2.dark
				strong Ultimo mes
			.h2.dark ganaste
			h2.dark el 
				strong 80% 
				| de tu
			.h2.dark hidratacion.

.list.clean#history
	.item.item-icon-left.item-dark
		i.icon
		| Hoy Miercoles 29.

	.item.item-icon-left.item-dark
		i.icon
		| Martes 28.

	.item.item-icon-left.item-dark
		i.icon
		| Lunes 27.

	.item.item-icon-left.item-dark
		i.icon
		| Ultima Semana

	.item.item-icon-left.item-dark
		i.icon
		| Ultimo Mes