.bar.bar-header.bar-dark
	button.button.icon.button-clear.ion-ios7-close-empty.button-clear#leftButton
	.h1.title Estadisticas
	button.button.icon.button-clear.ion-ios7-upload-outline#rightButton

.scroll-content.has-header
	.page-content
		.padding
			.h2.dark El
			.h2.dark
				strong Ultimo mes
			.h2.dark ganaste
			h2.dark el 
				strong 80% 
				| de tu
			.h2.dark hidratacion.

.list#history
	.item.item-icon-left.item-dark
		i.icon.ion-waterdrop
		| Hoy Miercoles 29.
		span.badge.badge-assertive 2

	.item.item-icon-left.item-dark
		i.icon.ion-waterdrop
		| Martes 28.
		span.badge.badge-assertive 1

	.item.item-icon-left.item-dark
		i.icon.ion-waterdrop
		| Lunes 27.
		span.badge.badge-assertive 3

	.item.item-icon-left.item-dark
		i.icon.ion-waterdrop
		| Ultima Semana
		span.badge.badge-assertive 12

	.item.item-icon-left.item-dark
		i.icon.ion-waterdrop
		| Ultimo Mes
		span.badge.badge-assertive 36