.bar.bar-header.bar-dark
	button.button.icon.button-clear.ion-ios7-arrow-down#leftButton
	.h1.title Tienda

include ./menu.jade

.scroll-content.has-header
	.page-content
		.padding
			.row.dark-bg.rounded.product
				.col.image
					img.rounded.full-image(src='http://localhost/images/store_placeholder.jpg')
				.col.description
					h4.title Zoe Water 900
					p 900ml
					p Caja con 12 botellas
					p $240

					.text-right
						button.button.button-energized Agregar

			.row.dark-bg.rounded.product
				.col.image
					img.rounded.full-image(src='http://localhost/images/store_placeholder.jpg')
				.col.description
					h4.title Zoe Water 900
					p 900ml
					p Caja con 12 botellas
					p $240

					.text-right
						button.button.button-energized Agregar


			.row.dark-bg.rounded.product
				.col.image
					img.rounded.full-image(src='http://localhost/images/store_placeholder.jpg')
				.col.description
					h4.title Zoe Water 900
					p 900ml
					p Caja con 12 botellas
					p $240

					.text-right
						button.button.button-energized Agregar