#menu {
	position: fixed;
	width: 100%;
	background: rgb(50,66,85);
	z-index: $z-index-bar+1;
	box-shadow: 0 3px 2px $dark;
	top: -100%;
	margin-top: $padding-large-vertical*2;
	margin: 0;
	left: 0;

	ul {
		li {
			border-bottom: 1px solid rgba(255,255,255,0.03);

			&:last-child {
				border-bottom: 0;
			}

			button {
				display: block;
				width: 100%;
				margin: 0 auto;
				font-weight: bold;
			}
		}
	}

	#menuOverlay {
		z-index: 0;
		background-color: transparent;
	}
}