include ./offline.jade

.bar.bar-header.bar-dark
	button.button.icon.button-clear#leftButton
		img(src='images/menu@2x.png')
	h1.title

.scroll-content.has-header
	.page-content
		.padding
			p El nombre Zoé viene del griego “llena de vida”. Zoé Water busca conquistar a los  consumidores ávidos de productos que sean benéficos para la salud física y mental, usando la tecnología de purificación más avanzada del momento.
			p El valor agregado que tiene, es precisamente el agua alcalina, reconocida a nivel mundial por la capacidad de disminuir la acidez, eliminar los desechos naturales del cuerpo y por contribuir a una mejor oxigenación de la sangre en el cuerpo humano.
			img.full-image(src='images/about_ph.png')
			p Zoé Water, con su pH de 8.5 hidrata de una forma eficaz, manteniendo tu cuerpo en equilibrio. 

			img.full-image.rounded(src='images/about_bottles.jpg')