include ./button_submit_outline.jade

.bar.bar-header.bar-dark
	button.button.icon.button-clear#leftButton
		img(src='images/close@2x.png')
	h1.title

.scroll-content.has-header
	.page-content
		form.row
			.col
				.padding
					.list
						label.item.item-input
							input#forgotEmail(type='email', placeholder="Correo electronico")
					
					+submitButton('Enviar')

					br
					.text-center
						| Introduzca la direccion de correo electronico que ha usado para
						| crear su cuenta con Zoe Water Movil, al finalizar le enviaremos
						| un mensaje re recuperacion de contraseña.