.bar.bar-header.bar-dark
	button.button.icon.button-clear#leftButton
		img(src='images/back@2x.png')
	h1.title

.scroll-content.has-header
	.page-content.animated
		img#hero.full-image
		.padding
			h1#title
			div#body
			a.button.button-outline.button-block.text-center#source Ver articulo original