.modal-backdrop.active
.modal
	.text-center.padding
		h1 Fotografía
		#image

	.text-center.padding
		textarea#caption(placeholder="Agrega una descripción a tu foto")

	.padding.row
		.col
			button.button.button-energized.button-block#save Compartir
		.col
			button.button.button-dark.button-block(data-dismiss) Cancelar