.modal-backdrop.active
.modal.option-sheet
	.text-center.padding-large

		.text-center.h3 Compartir via

		.list.list-inset
			.hide.item#shareFacebook Facebook
			.item#shareTwitter Twitter
		br

		.list.list-inset
			.item.close Cancelar