.modal-backdrop.active
.modal
	.text-center.padding-large
		button.button.button-dark#deleteLast(type='button', disabled) Borrar Último Consumo

		.padding-large.row#bottles
			.col.col-bottom
				a.check(href='#', data-value='300')
					img.full-image(src='images/check_250.png')
			.col.col-bottom
				a.check(href='#', data-value='500')
					img.full-image(src='images/check_500.png')
			.col
				a.check(href='#', data-value='900')
					img.full-image(src='images/check_900.png')


		button.button.button-dark.close Cancelar