div.modal-backdrop.active#menuOverlay
ul.text-center
	li
		button.button-clear.button(type='button', data-view='#home', root) Consumo Diario
	li
		button.button-clear.button(type='button', data-view='#about', root) ¿Qué es Zoé Water?
	li
		button.button-clear.button(type='button', data-view='#gallery', root) Comparte tu Foto
	li
		button.button-clear.button(type='button', data-view='#blog', root) Blog Alcalino
	li
		button.button-clear.button(type='button', data-view='#premier', root) Zoé Water Premier
	li
		button.button-clear.button(type='button', data-view='#pos', root) Puntos de Venta
	li
		button.button-clear.button#menuStoreItem(type='button', data-view='#store', root) Tienda en Linea