include ./offline.jade

.bar.bar-header.bar-dark
	button.button.icon.button-clear#leftButton
		img(src='images/menu@2x.png')
	h1.title
	
.scroll-content.has-header
	.page-content
		.padding
			.row
				.col
					img.full-image#premierLogo(src='images/premier_logo.png')
				.col
				.col

			h4 Suscribete al club Zoé Water Premier y obten beneficios como:

			ul#benefits
				li Credencial Zoé Water Premier.

				li Un Kit Premier de bienvenida.

				li Promociones especiales cada mes.

				li 10% de descuento en cajas de Zoé Water.

				li Compra exclusiva de garrafones Zoé Water.

				li Invitaciones a eventos exclusivos.

			.text-center
				button.button.button-outline#information Solicitar Informacion