.bar.bar-header.bar-dark
	button.button.icon.button-clear#leftButton
		img(src='images/back@2x.png')
	h1.title

.scroll-content.has-header
	.page-content
		br
		.list.clean#options
			a.item.item-icon-right.item-dark#updateName
				| Cambiar Nombre
				i.ion-ios7-arrow-right.icon

			a.item.item-icon-right.item-dark#updateEmail
				| Cambiar Correo
				i.ion-ios7-arrow-right.icon

			a.item.item-icon-right.item-dark#updatePassword
				| Cambiar Contraseña
				i.ion-ios7-arrow-right.icon

			a.item.item-icon-right.item-dark#updateWeight
				| Configurar Consumo
				i.ion-ios7-arrow-right.icon

			a.item.item-icon-right.item-dark#updateBirthdate
				| Fecha de Nacimiento
				i.ion-ios7-arrow-right.icon

			a.item.item-icon-right.item-assertive#signout Cerrar Sesión

		.text-center
			img#settingsBottle(src='images/bottle.png')

		.text-center
			button.button.button-clear#tos
				strong Ver términos de uso


		a.button.button-clear.button-block.text-center(href="http://sourcecode.mx") Welcome to the Source/Code