include ./button_submit_outline.jade

.bar.bar-header.bar-dark
	button.button.icon.button-clear#leftButton
		img(src='images/back@2x.png')
	h1.title

.scroll-content.has-header
	.page-content
		form.row
			.col
				.padding
					.list
						label.item.item-input
							input#email(type='email', placeholder="Correo electronico", value="#{data.email}")
					
					+submitButton()