include ./offline.jade
include ./button_submit_outline.jade

.bar.bar-header.bar-dark
	button.button.icon.button-clear#leftButton
		img(src='images/back@2x.png')
	h1.title

.scroll-content.has-header
	.page-content
		form
			.row
				.col
					.padding
						.list
							label.item.item-input
								input#username(type='text', placeholder="Nombre de usuario", autocomplete="off", autocapitalize="off")
								
						.list
							label.item.item-input
								input#email(type='email', placeholder="Correo electronico")

						h5 Fecha de nacimiento
						.list
							label.item.item-input
								input#birthdate(type="date", placeholder="01-01-1996", min="01-01-1900", max="01-01-2014")

			.row
				.col
					+submitButton('Siguiente')

					br
					.text-center
						| Al crear tu cuenta confirmas que has leido y 
						button.button-clear#authTos(type='button')
							strong Aceptas los términos de uso