.bar.bar-header.bar-dark
	button.button.icon.button-clear#leftButton
		img(src='images/close@2x.png')
	h1.title
	button.button.icon.button-clear#rightButton
		img(src='images/share@2x.png')

.scroll-content.has-tabs.has-header
	.page-content.animated
		.padding
			.ct-chart

#tabs.tabs.tabs-dark.tabs-icon-top
	a.tab-item.active#weekly
		i.icon.ion-stats-bars
		| Ultima semana

	a.tab-item#monthly
		i.icon.ion-calendar
		| Último mes