include ./offline.jade

.bar.bar-header.bar-dark
	button.button.icon.button-clear#leftButton
		img(src='images/menu@2x.png')
	h1.title

.scroll-content.has-header
	.page-content
		iframe(src='https://zoewater.com.mx/movil')