.bar.bar-header.bar-dark
	button.button.icon.button-clear#leftButton
		img(src='images/close@2x.png')
	h1.title

.scroll-content.has-header
	.page-content
		.padding
			p Agua, Vida y Nutrición S.A. de C.V. siempre se ha comprometido a mantener la exactitud, la confidencialidad y la seguridad de su información personal y corporativa. Hemos establecido los principios de privacidad para gobernar nuestro uso de la información del cliente.

			p Agua, Vida y Nutrición S.A. de C.V. no vende, comparte o distribuye la información del cliente a ninguna organización de terceros.

			h4 Rendición de cuentas

			p Agua, Vida y Nutrición S.A. de C.V. es responsable de mantener y proteger la información de cliente bajo su control.

			h4 Identificación de propósitos

			p Se identificará el propósito para el cuál el cliente recopila información antes o al tiempo que se recoge la información.

			h4 Consentimiento

			p El conocimiento y consentimiento del cliente son necesarios para la recolección, uso o divulgación de información del cliente excepto donde es requerido o permitido por la ley.

			h4 Limitación de colección

			p La información de cliente recopilada debe limitarse a los detalles necesarios para los propósitos identificados por Agua, Vida y Nutrición S.A. de C.V. la información debe ser recopilada por medios justos y legales.

			h4 Limitación de uso, divulgación y retención

			p La Información del cliente sólo puede ser usada o divulgada para la finalidad para la cual fue recopilada a menos que el cliente haya consentido lo contrario, o cuando es requerido o permitido por la ley. La Información del cliente sólo podrán mantenerse durante el período de tiempo necesario para cumplir el propósito para el cual fue recopilada.

			h4 Autenticidad

			p La Información de los clientes debe ser mantenida en forma precisa, completa y actualizada según sea necesario para cumplir con los fines para los cuales es utilizada.

			h4 Seguridad de la información del cliente

			p La Información de cliente debe estar protegida por garantías de seguridad que son apropiados para el nivel de sensibilidad de la información.

			h4 Accesibilidad

			p Se requiere para proporcionar información a los clientes con respecto a las políticas y prácticas que se aplican a la gestión de su información.

			h4 Divulgación de información del cliente

			p A petición, el cliente deberá ser informado de la existencia, uso y divulgación de su información y se dará acceso a ella. Los clientes podrán verificar la exactitud e integridad de su información y podrán solicitar que se modifique, si procede.

			h4 Manejo de quejas y sugerencias

			p Los clientes pueden dirigir cualquier pregunta o consulta con respecto a los principios de privacidad descritos anteriormente o sobre nuestras prácticas comunicándose con la persona designada responsable de la privacidad en Agua, Vida y Nutrición S.A. de C.V..