#gallery-page,
#gallery-image-page {
	.page-content {
		background: $stable;
	}

	#like {
		font-size: 5em;
		
		.ion-ios7-heart{
			color: red;
		}
	}

	#likes {
		margin: 0;
	}

	#owner {
		display: block;
		position: absolute;
		border-radius: $padding-large-horizontal/4;
		right: $padding-large-horizontal;
		bottom: $padding-large-vertical;
		color: $positive;

		&.hide {
			display: none;
		}
	}

	#caption-wrapper {
		display: block;
		display: -webkit-box;
		max-height: $line-height-computed*3;
		margin: 0 auto;
		font-size: $font-size-base;
		line-height: $line-height-computed;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: $padding-base-vertical 0;
	}

	& + #modal,
	&.ionic-body #image{
		img{
			@include box-shadow(0 1 4px transparentize(black, 0.3));
			@extend .rounded;
		}
	}

	&.ionic-body #image {
		height: 300px;
		background-size: cover;
		border: 1px solid $dark;
		@include border-radius($border-radius-base);
		background-color: transparentize(black, 0.3);
		position: relative;

		&.loaded {
			-webkit-filter: blur(0);
			background-color: transparent;
			border: 0;
		}
	}

	#pics {
		.pic {
			float: left;
			width: 33.33%;
			padding-bottom:0;
			background-size: cover;
			max-height: 97px;
			overflow: hidden;

			.rounded {
				height: 87px;
				overflow: hidden;
			}
		}
	}

	&+ #modal {
		#image{
			margin: 0 auto;
			@include box-shadow(0 1 4px transparentize(black, 0.3));
			@extend .rounded;
		}
		#caption {
			height: 70px;
			padding: $padding-base-vertical $padding-base-horizontal;
		}

		button {
			margin: 0;
		}

		&.modal > div {
			padding-bottom: 0;
		}
	}
}

#gallery-image-page {
	.downvote {
		text-shadow: white 1px 0px 0px, white -1px 0px 0px, white 0px -1px 0px, white 0px 1px 0px;
	}

	#like-area {
		width:100px;
		margin:0 auto;
	}

	#image img{
		max-height: 300px;
		margin: 0 auto;
		width: auto;
	}

	#tabs-gallery-photo-edit,
	#tabs-gallery-photo {
		&.hide {
			display: none;
		}
	}

	#caption-wrapper-text {
		height: 70px;
		padding: $padding-base-vertical $padding-base-horizontal;
		margin: $padding-large-vertical 0;
	}
}