#premier-page,
#premier-information-page {
	.page-content {
		background: rgb(1, 1, 1) url('../images/premier_back.jpg') no-repeat;
		background-position-y: $padding-large-vertical * 7;
		background-size: 50%;
		background-position-x: 100%;
	}

	#premierLogo {
		margin-top: $padding-large-vertical * 3;
	}

	#benefits {
		margin: $padding-large-vertical * 2 0;
		line-height: 2em;
	}
}

#premier-information-page {
	.bar.bar-header {
		background: black;
	}
}