#settings-page {
	#settingsBottle {
		height: 120px;
	}

	.page-content {
		background: $stable;
	}
}

#settings-weight-page {
	#settings-weight {
		.item {
			padding-left: 0;
			padding-right: 0;

			input {
				padding: 0;
			}
		}
	}
}