#stats-page {
	.page-content {
		background: url('../images/stats_back.jpg') no-repeat center top;
		background-position-y: $padding-large-vertical * 5;
		background-size: cover;
		background-color: white;
	}

	#history {
		position: fixed;
		bottom: 0;
		width: 100%;
		padding: 0;

		.icon {
			background: url('../images/gota.png') no-repeat;
			background-size: contain;
			width: 20px;
			background-position-y: 13px
		}
	}
}