#stats-page {
	.page-content {
		overflow-x: scroll;
	}

	.ct-chart .ct-label.ct-horizontal {
		text-align: center;
	}
	.ct-chart .ct-bar {
		stroke-width: 40px;
	}

	.ct-chart .ct-grid {
		stroke: rgba(255, 255, 255, 0.06);
		stroke-width: 1px;
		stroke-dasharray: 10px;
	}
}