<script>
  //Pollute the global namespace with the setupEvent (thanks to Phonegap architecture)
  window.setupEvent = new Event('setup');

  var onSetup = function(){
    require(['http://localhost/javascripts/templates/tos.js'], function(template){
    	var wrapper = document.createElement('div');
		var page = document.getElementById('tos-page');
		var title = 'Terminos de uso';

		var leftButton = new steroids.buttons.NavigationBarButton();
		leftButton.imagePath = '/images/close.png';
		leftButton.onTap = steroids.modal.hide;

		steroids.view.navigationBar.update({
			title: title,
			closeButton: leftButton,
			buttons: {
				left: [leftButton]
			}
		});

		function onLayerWillChange(event){
			if(event && event.target && event.target.webview.id === 'tosIndexView'){
				steroids.view.navigationBar.update({
					title: title
				});
			}
		}

		steroids.layers.on('willchange', onLayerWillChange);
		//steroids.layers.on('didchange', this.onLayerChange.bind(this));

		wrapper.innerHTML = template();
		page.appendChild(wrapper.firstChild);
    });
  }

  // Listen for the event.
  window.addEventListener('setup', onSetup, false);
</script>